{% extends "rms_app/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section-dashboard">
  <div class="media">
    <img class=" rounded-circle account-img" style="border: 3px purple solid;" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading" style="font-family: var(--head-font); color: var(--green-color);text-align: center;margin-top: 20px;">{{ user.username }}</h2>
      <p class="text-secondary" style="margin-top: 10px;">{{ user.email }}</p>
    </div>
  </div>
  <div class="dashboard-option-box" style="border: 3px purple solid ;padding-left: 40px;padding-right: 40px;padding-bottom: 20px;border-radius: 40px;background-color: rgba(239, 199, 239, 0.397);margin-top: 20px;">
    <br>
    <div>
      <a  href="{% url 'update-profile' %}">Update Profile</a>
    </div>
    <br>
    {% if not request.user.is_superuser %}
    <div>
      <a  href="{% url 'createinvoice' %}">Sell Waste</a>
    </div>
    <br>
    {% endif %}

    {% if request.user.is_superuser %}
    <div>
      <a  href="{% url 'rms-addtolist' %}">Add Item to Wastelist</a>
    </div>
    <br>
    
    <div>
      <a  href="{% url 'register' %}">Register New Staff</a>
    </div>
    <br>
    
    <div>
      <a  href="{% url 'sales' %}">Waste Sales</a>
    </div>
    <br>
    {% endif %}
    <div  class="logss" style="background-color: rgba(183, 225, 244, 0.846);padding-left:20px;padding-right:20px;padding-top:7px;padding-bottom:7px;border-radius: 40px;">
      <a  href="{% url 'logout' %}"  >Log Out</a>
    </div>
  </div>
</div>

{% endblock content %}