{% extends "rms_app/base.html" %}
{% block content %} 
{% load static %}
<div class='foodtable'>
  <section id="food-section">
    {% if food_obj %}
    <h1 class="avail" style="text-align:center;margin-top: 2%;">Available Waste</h1>
    <br>
    {% if user.is_authenticated %}
    <div style="text-align:center">
      <a  href="{% url 'rms-addtolist' %}" >Add Item to Kart</a>
    </div>
    {% endif %}
    <div class="table">
      <table style="font-size:1.05rem ; border: solid black 3px;margin-left: 20%;width:60%;border-radius: 10px;" >
        <tr style="font-family: Montserrat; border: solid black 3px;">
          <th style="border: solid black 3px;text-align: center;">S.N</th>
          <th style="border: solid black 3px;text-align: center;">Waste Items</th>
          <th style="border: solid black 3px;text-align: center;">Per Price </th>
        </tr>
        {% for food_item in food_obj  %}
        <tr style="border: solid black 3px;">
          <td style="border: solid black 3px; text-align: center;">{{ food_item.id}}</td>
          <td style="border: solid black 3px; text-align: center;">{{ food_item.food_item}}</td>
          <td style="border: solid black 3px; text-align: center;">Rs.{{ food_item.per_price}}/-&emsp;
            {% if user.is_authenticated %}
            <div style="float: right;margin-right: 5%;">
            <a href="{% url 'rms-updatetolist' food_item.id %} " > Edit</a>&ensp;
            <a style="color: #d0333c;" href="{% url 'food_confirm_delete' food_item.id %} " > Delete</a>
          </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>  
    </div>
    {% else %}
    <p>Opps! No fooditems in Database.😫
    {% if user.is_authenticated %}
    <div>
      <a  href="{% url 'rms-addtolist' %}">Add Item to Kart</a>
    </div>
    {% endif %}
    </p>
    {% endif %}
  </section>
</div>
  
{% endblock content %}
