
{% extends "rms_app/base.html" %}

{% block content %}
{% load static %}
<div class="foodtable" style="margin-bottom: 5%;">
    <section id="food-section">
        {% if food_obj %}
        <h1 class="avail" style="text-align:center">Available Waste</h1>
        <br>
        {% if user.is_authenticated %}
        <div style="text-align:center">
            <a href="{% url 'rms-addtolist' %}" >Add Item to Kart</a>
        </div>
        {% endif %}
        <div class="food-list" style="display: grid;gap: 1rem;grid-auto-columns: column;grid-template-columns: repeat(auto-fit, minmax(600px, 2fr)); margin-left: 20% !important;">
            {% for food_item in food_obj  %}
            <div class="food-card" style="max-width: 40% !important; ">
                <div id="img-food" >
                    <img src="{{ food_item.food_img.url }}" alt="" style="margin:0px !important;border: black solid 3px;border-radius: 10% !important;height: 10vw;width: 20vw !important;">
                </div>
                <div class="food-info">
                    <h5 class="food-title">{{ food_item.food_item}} </h5>
                    <p class="food-price">Rs.{{ food_item.per_price}} 
                        {% if user.is_authenticated %}
                        <a href="{% url 'rms-updatetolist' food_item.id %} "> Edit</a>&ensp;
                        <a style="color: #d0333c;" href="{% url 'food_confirm_delete' food_item.id %} "> Delete</a>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Opps! No fooditems in Database.😫
        {% if user.is_authenticated %}
        <div>
          <a  href="{% url 'rms-addtolist' %}">Add Item to Kart</a>
        </div>
        {% endif %}
        </p>
        {% endif %}
    </section>
</div>



{% endblock content %}